python-dotenv
telegraph==2.2.0
TgCrypto==1.2.5
tornado==6.5.2
py-tgcalls==2.2.8
rich==14.2.0
pytz==2025.2
psutil
motor
dnspython
GitPython
bs4
Pillow==12.0.0
pymediainfo
requests
unidecode
filetype
attrify
uvloop
pySmartDL
html2text
removebg
pySmartDL
aiofiles==24.1.0
aiohttp==3.13.1
aiosignal==1.4.0
gpytranslate
httpx[http2]
gtts
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
python-dotenv
ntgcalls==2.0.6
numpy==2.2.6
opencv-python-headless==4.12.0.88
pyromod==3.1.6
pykeyboard
httpx[http2]==0.28.1
git+https://github.com/noctyracode/pyrogram
qrcode
geopy
speedtest-cli
pytimeparse
